##			 ##
##  CODESYS IGNORE FILE  ##
##			 ##


*.backup
*.tgs
*.opt
*.bootinfo
*.bootinfo_guids
*.compileinfo
*.xml
*.pdf
*.simulation.bootinfo
*.simulation.bootinfo_guids
*.project.~u
*.library.~u
*.projectarchive